<div class="container">
  <h1 class="my-4">TODO App</h1>
  <div class="row mb-3">
    <div class="col-md-10">
      <input type="text" class="form-control" [(ngModel)]="newTodoTask" placeholder="Enter a new task" (keyup.enter)="addTodoTask(newTodoTask)">
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary w-100" (click)="addTodoTask(newTodoTask)">Add Task</button>
    </div>
  </div>
  <h2>Todo</h2>
  <ng-container *ngIf="incompleteTodoTasks$ | async as incompleteTodoTasks">
    <p *ngIf="incompleteTodoTasks.length === 0" class="text-success">Nothing to be done. Enjoy your day!</p>
    <div *ngFor="let todoTask of incompleteTodoTasks; trackBy: trackByDescriptionId" class="d-flex justify-content-between align-items-center mb-2">
      <p class="mb-0">{{todoTask.description}}</p>
      <button class="btn btn-success" (click)="markTodoTaskAsCompleted(todoTask.id)">Mark complete</button>
    </div>
  </ng-container>
  <h2>Done</h2>
  <ng-container *ngIf="completedTodoTasks$ | async as completedTodoTasks">
    <p *ngIf="completedTodoTasks.length === 0" class="text-info">Completed tasks will appear here.</p>
    <div *ngFor="let todoTask of completedTodoTasks; trackBy: trackByDescriptionId" class="d-flex justify-content-between align-items-center mb-2">
      <p class="mb-0">{{todoTask.description}}</p>
      <button class="btn btn-danger" (click)="deleteTodoTask(todoTask.id)">Delete</button>
    </div>
  </ng-container>
</div>